<div class="container mt-3">
  <div class="d-flex align-items-center bd-highlight">
    <h1 class="flex-grow-1 bd-highlight">Personajes</h1>
    <%= link_to "+ Personaje", new_character_path, class: "btn btn-primary bd-highlight" %>
  </div>
  <table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Peso</th>
      <th scope="col">Historia</th>
    </tr>
  </thead>
  <% @characters.each do |character| %>
    <tbody>
      <tr>
        <th scope="row"><%=character.id %></th>
        <td><%= link_to character.name, character_path(character.id) %></td>
        <td><%= character.age %></td>
        <td><%= character.weight.round(1) %></td>
        <td><%= character.history %></td>
      </tr>
    </tbody>
  <% end %>
</table>
</div>